@media (max-width: 767px) {
    .centr {
        padding-left: 16px;
        padding-right: 16px;
    }

    .hero-page {
        margin-bottom: 32px;
    }

    .header-site {
        border-bottom: none;
        padding-top: 49.5px;
        padding-bottom: 17.5px;

        .logo {
            &__top {
                display: block;
                max-width: 99px;
                max-height: 22px; 
            }
        }

        &__input {
            display: none;
        }

        .nav {
            display: none;
        }

        .nav-mobile {
            display: flex;
            align-items: center;
            gap: 32px;
        }
    }

    .article-site-title {
            font-size: 48px;
            line-height: 59px;
            text-align: center;
            font-weight: 600;
            margin-bottom: 16px;
            margin-top: 29px;
            max-width: 340px;
    }
    .article-site-catalog {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 14px;
        line-height: 24px;
        padding-top: 28px;
        padding-bottom: 0px; 
    }

    .article-site__paragraf {
        text-align: center;
        font-size: 16px;
        line-height: 32px;
        margin-bottom: 28px;
    
    }

    .breadcrumbs-catalog {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: flex-start;
    }

    .breadcrumbs-catalog__link {
        font-size: 14px;
        line-height: 100%;
    }

    .container {
        padding: 22px 0 0 0;
    }

    .filtering-form {
        position: absolute;
        top: calc(100% + 14px);
        right: -58px;
        display: flex;
        align-items: start;
        gap: 36px;
        background-color: #fff;
        box-shadow: 0px 4px 64px -12px rgba(0, 0, 0, 0.32);
        padding: 40px 40px;
        z-index: 100;
        padding: 40px;
        width: 286px;
        height: 910px;
        flex-wrap: nowrap;
        flex-direction: column;
    }



    .filtering-form__content-wrapper {
        display: flex;
        flex-direction: column;
        gap: 32px 65px;
        max-height: 445px;
        flex-wrap: nowrap;
    }
    
    .filter-buttion-wrapper {
        position: relative;
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        gap: 10px;
        flex-direction: column-reverse;
    }

    .filter-button-label {
        font-size: 14px;
        line-height: 100%;
    }
    
    .checkbox__label {
        font-size: 14px;
        line-height: 100%;
    }

    .filtering-form__button {
        position: relative;
        top: 295px;
    }

    .for-box {
        &__heading {
            font-size: 24px;
            line-height: 29px;
        }
    }
    .for {
        grid-template-columns: repeat(4, 1fr);
        gap: 16px;

        &__item {
            grid-column: 1 / -1;
            font-size: 28px;
            line-height: 34px;
        }
    }

    .product-box {
        margin-top: 32px;
        padding: 0;
        font-size: 24px;
        line-height: 100%;

        &__content {
            row-gap: 32px;
            padding-left: 16px;
            padding-right: 16px;
        }
        
        &__title {
            font-size: 24px;
            line-height: 100%;
            max-width: 342.9px;
            max-height: 58px;
            padding-left: 16px;
        }
        
        &__article {
            width: 378px;
        }

        &__name {
            font-size: 18px;
            line-height: 100%;
        }

        &__paragraf {
            font-size: 14px;
            line-height: 100%;
        }

        &__price {
            font-size: 18px;
            line-height: 100%;
        }
    }

    .cart {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-top: 92px;

        &__headers {
            display: none;
        }

        &__content {
            width: 100%;
            max-width: 780px;
        }

        &__item {
            padding-top: 18px;
            padding-bottom: 30px;
        }

        &__buttons {
            display: flex;
            padding-top: 8px;
            font-size: 12px;
            line-height: 100%;
            text-align: center;
        }

        &__button {
            padding: 11px 22px 11px 22px;
        }

        &__img {
            display: none;
        }

        &__name {
            font-size: 18px;
            line-height: 100%;
        }

        &__price {
            font-size: 14px;
            line-height: 100%;
        }

        &__actions {
            padding-top: 5px;
        }
    }

    
    
    .order {
        width: 100%;
        max-width: 376px;         
        display: flex;
        flex-direction: column;
        align-items: center;    
        
        &__title {
            font-size: 24px;
            line-height: 100%;
        }

        &__fields {
            display: flex;
            flex-direction: column;
            justify-content: space-between;    
            width: 100%;
            height: 140px;                  
            margin-bottom: 40px;
        }

        &__input {
            width: 283px;                   
            border: none;
            border-bottom: 1px solid #000000; 
            outline: none;                                                 
            box-sizing: border-box;
        }

        &__total {
            padding-top: 24px;
        }
    }
    
    .main-link {
        font-size: 16px;
        font-weight: 400;
        text-decoration: underline;
        margin: 31px 0 64px;
        color: black;
        display: none;
        padding: 0 24px 0 24px;
    }

    .main-link-mobile {
        font-size: 16px;
        font-weight: 400;
        text-decoration: underline;
        color: black;
        display: block;
        padding-left: 16px;
        margin-top: 36px;
        margin-bottom: 36px; 
    }

    .footer {
        padding-right: 39px;


        &__log {
            display: none;
        }
    
        &__info {
            display: grid;
            grid-template-columns: repeat(2, 1fr); 
            gap: 70px 100px; 
        }

        &__title {
            margin-bottom: 0px;  
        }

        &__link {
            margin-bottom: 0px;
            font-size: 14px;
        }

        &__item {
            display: flex;
            flex-direction: column;
            gap: 12px;
            font-size: 12px;
        }
          &__form {
            grid-column: 1 / -1;
            justify-self: center;
            display: flex;
            flex-direction: column; 
            align-items: center;
            text-align: center;
            gap: 12px;
            width: 100%;
            max-width: 350px;
            margin-left: 0px;     
        }
        
        &__form-text {
            margin-bottom: 0;
        }

        &__form-email {
            width: 260px;
            margin-bottom: 0px; 
        }
        
        &__form-btn {
            width: 260px; 
        }
    }
}
